:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --secondary-accent-color: #188CE8;
  --primary-white-color: #FFFFFF;
  --secondary-white-color: #F5F4FA;
  --third-white-color: #F5F5F5;
  --black-color: #000000;
  --secondary-bg-color: #2F303A;
  --transparent-color: rgb(255, 255, 255, 0.6);
  --transparent-color-footer-icons: rgba(255, 255, 255, 0.1);
  --fill-color-items: #AFB1B8;
  --bg-color-hero: #C4C4C4;
  --bg-color-desription-portfolio: rgba(33, 150, 243, 0.9);
  --bg-modal-window: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  min-width: 100%;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-header .container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .container-header .container-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 480px) {
  .container-header .container-nav {
    width: 480px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  text-decoration: none;
  color: var(--black-color);
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 26px;
    line-height: 1.19;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.web {
  color: var(--accent-color);
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav .list:not(:last-child) {
  margin-right: 50px;
}

.site-nav .current:hover,
.site-nav .current:focus {
  color: var(--accent-color);
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: calc(100% + 6px);
  left: -3px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: none;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

.auth-nav .icons {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .auth-nav .list:not(:first-child) {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav .list:not(:first-child) {
    margin-left: 50px;
    margin-top: 0;
  }
}

.auth-nav .mail {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .auth-nav .mail {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.auth-nav .mail .icons {
  fill: var(--secondary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .mail:hover svg,
.auth-nav .mail:focus svg {
  fill: var(--accent-color);
}

.auth-nav .mail:hover,
.auth-nav .mail:focus {
  color: var(--accent-color);
}

.auth-nav .tel {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .auth-nav .tel {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.auth-nav .tel .icons {
  fill: var(--secondary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .tel:hover svg,
.auth-nav .tel:focus svg {
  fill: var(--accent-color);
}

.auth-nav .tel:hover,
.auth-nav .tel:focus {
  color: var(--accent-color);
}

/* Footer */
.container-footer {
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container-footer {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    max-width: 1200px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.footer .footer-information {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .footer-information {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-information {
    margin-left: 0;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-logo {
  margin-bottom: 20px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-white-color);
  text-align: center;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: left;
    font-size: 36px;
    line-height: 1.18;
  }
}

.adress {
  font-style: inherit;
  text-decoration: none;
}

.adress-list .list:not(:last-child) {
  margin-bottom: 9px;
}

.adress-list .street {
  color: var(--primary-white-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list .street:hover,
.adress-list .street:focus {
  color: var(--accent-color);
}

.adress-list .mail {
  color: var(--transparent-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list .mail:hover,
.adress-list .mail:focus {
  color: var(--accent-color);
}

.adress-list .tel {
  color: var(--transparent-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list .tel:hover,
.adress-list .tel:focus {
  color: var(--accent-color);
}

.footer-icons {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-icons {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-icons {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
  }
}

.footer-icons .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer-social .icons {
  fill: var(--primary-white-color);
}

.footer-social .items-links {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.footer-social .items-links,
.footer-social .items-links {
  background-color: var(--transparent-color-footer-icons);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .items-links:hover,
.footer-social .items-links:focus {
  background-color: var(--accent-color);
}

/* footer mailing */
.footer-mailing {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-mailing {
    text-align: left;
    margin-left: 93px;
  }
}

.footer-mailing .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-subscribe {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-subscribe input {
  height: 50px;
  width: 210px;
  padding: 15px 16px;
  outline: none;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  background-color: var(--secondary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 480px) {
  .footer-subscribe input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 31px;
  cursor: pointer;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe-btn {
    padding: 10px 28px;
    margin-left: 12px;
  }
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--secondary-accent-color);
  color: var(--third-white-color);
}

.subscribe-btn svg {
  margin-left: 10px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-modal-window);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop .icons {
  display: block;
  fill: var(--black-color);
  width: 11px;
  height: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal {
    line-height: 1.15;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-radius: 50%;
  padding: 6px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover svg, .button-close:focus svg {
  fill: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

/* Input form */
.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-field label {
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding: 12px 12px 12px 42px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field input:hover, .form-field input:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.form-field input:hover + svg, .form-field input:focus + svg {
  fill: var(--accent-color);
}

.form-input {
  position: relative;
}
.form-input svg {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-area {
  resize: none;
  outline: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-area:hover, .form-area:focus {
  border: 1px solid var(--accent-color);
}

.accept {
  margin-top: 20px;
  margin-bottom: 30px;
}

.label-accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.label-accept a {
  font-size: 12px;
  line-height: 1.66;
  color: rgb(33, 150, 243);
}
@media screen and (min-width: 1200px) {
  .label-accept a {
    font-size: 14px;
    line-height: 2;
  }
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox:checked + .icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.mailing {
  font-size: 12px;
  line-height: 1.66;
  color: rgb(117, 117, 117);
}
@media screen and (min-width: 1200px) {
  .mailing {
    font-size: 14px;
    line-height: 2;
  }
}

.send-btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 52px;
  color: var(--primary-white-color);
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover, .send-btn:focus {
  background-color: var(--secondary-accent-color);
  color: var(--third-white-color);
}

/* Hero */
.section-hero {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-height: 400px;
  max-width: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--bg-color-hero);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/mobile-img/bg-img-1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/mobile-img/bg-img-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/mobile-img/bg-img-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/mobile-img/bg-img-2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .section-hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/tablet-img/bg-img-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/tablet-img/bg-img-1x.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/tablet-img/bg-img-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/tablet-img/bg-img-2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .section-hero {
    max-width: 1199px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/desctop-img/bg-img-1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/desctop-img/bg-img-1x.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/desctop-img/bg-img-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/desctop-img/bg-img-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    max-height: 600px;
  }
}
.section-hero .hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 480px;
  margin: 0 auto 30px;
  font-size: 26px;
  line-height: 1.62;
}
@media screen and (min-width: 1200px) {
  .section-hero .hero-title {
    max-width: 700px;
    margin: 0 auto 30px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.section-hero .hero-btn {
  border-color: transparent;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 480px;
  padding: 10px 22px;
}
.section-hero .hero-btn:hover, .section-hero .hero-btn:focus {
  background-color: var(--secondary-accent-color);
  color: var(--third-white-color);
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 480px;
}
@media screen and (min-width: 1200px) {
  .container-hero {
    max-width: 700px;
  }
}

/* Values */
.values__section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .values__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.values__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.values__list .list {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .values__list .list {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .values__list .list {
    max-width: 270px;
  }
}
.values__list .values__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: var(--secondary-white-color);
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.values__list .values__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .values__list .values__title {
    text-align: left;
  }
}
.values__list .values__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Work */
.work__section {
  padding-top: 47px;
  padding-bottom: 94px;
  display: none;
}
.work__section .work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.container-work {
  text-align: center;
  margin: 0 auto;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work__list .work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.work__list .work__item:not(:last-child) {
  margin-right: 30px;
}

.work__description {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}
.work__description .work__description--title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Team */
.team__section {
  background-color: var(--secondary-white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__section .team__title {
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__section .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 480px) {
  .team__section .container-team {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .team__section .container-team {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team__section .container-team {
    width: 1200px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__list .team__description {
  width: 450px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
@media screen and (min-width: 768px) {
  .team__list .team__description {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list .team__description {
    width: 270px;
  }
}
.team__list .team__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__list .team__position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team__item {
  padding-top: 30px;
  padding-bottom: 24px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social__list .social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__list .social__item .icons {
  fill: var(--fill-color-items);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__list .social__link:hover, .social__list .social__link:focus {
  background-color: var(--accent-color);
}
.social__list .social__link:hover svg, .social__list .social__link:focus svg {
  fill: var(--primary-white-color);
}

.clients__section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__section .clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__section .clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .container-clietns {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-clietns {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container-clietns {
    width: 1200px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__list .clients__link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 210px;
}
@media screen and (min-width: 768px) {
  .clients__list .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list .clients__link {
    width: 170px;
  }
}
.clients__list .icons {
  fill: var(--fill-color-items);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list .clients__link:hover svg, .clients__list .clients__link:focus svg {
  fill: var(--accent-color);
}
.clients__list .clients__link:hover, .clients__list .clients__link:focus {
  border-color: var(--accent-color);
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle .icon-cross:hover,
.menu-toggle .icon-cross:focus {
  fill: url(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 796px;
  padding: 48px 40px;
  overflow-y: scroll;
  background-color: var(--primary-white-color);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu .list:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu .link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 0.99;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.mobile-menu .current {
  color: var(--accent-color);
}

.mobile-contacts .list:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts .tel {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.41;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
.mobile-contacts .mail {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.mobile-social .link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
.mobile-social .list:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

/* Buttons */
.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background-color: var(--primary-white-color);
}

.filter-btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.filter-btn .button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.filter-btn .btn {
  border-color: transparent;
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--secondary-white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn .current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-btn .btn:hover, .filter-btn .btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Works */
.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.works-list .list {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .works-list .list {
    width: 354px;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .works-list .list {
    width: 370px;
  }
}
.works-list .works-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-list .works-link:hover, .works-list .works-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works-list .title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.works-list .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.container-works {
  color: var(--primary-text-color);
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.works-description {
  position: relative;
  overflow: hidden;
}
.works-description .title-decsription {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: var(--bg-color-desription-portfolio);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link:hover .title-decsription,
.works-link:focus .title-decsription {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */