/* Values */
.values__section {
    padding-top: 60px;
    padding-bottom: 60px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and(min-width: $desctop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.container-values {

    display: flex;
    align-items: center;


}

.values__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    & .list {
        max-width: 450px;

        @media screen and(min-width:$tablet) {
            max-width: 354px;

        }

        @media screen and(min-width:$desctop) {
            max-width: 270px;
        }
    }

    & .values__icons {
        display: flex;
        height: 120px;
        background-color: var(--secondary-white-color);
        margin-bottom: 30px;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
    }

    & .values__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.15;
        text-align: center;

        @media screen and(min-width:$tablet) {
            text-align: left;
        }
    }

    & .values__text {
        line-height: 1.71;
        color: var(--secondary-text-color);
    }
}