// Шапка 
.header {
    border-bottom: 1px solid #ECECEC;
}

.container-header {
    display: flex;
    align-items: center;

    & .container-nav {
        display: flex;
        align-items: center;

        @media screen and(min-width:$mobile) {
            display: flex;
            align-items: center;
        }

        @media screen and(min-width:$mobile) {
            width: 480px;
            justify-content: space-between;
        }
    }
}

.header-logo {

    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
    color: var(--black-color);


    margin-top: 16px;
    margin-bottom: 16px;


    @media screen and(min-width:$desctop) {
        font-size: 26px;
        line-height: 1.19;
        margin-top: 24px;
        margin-bottom: 24px;
    }

}

.web {
    color: var(--accent-color);
}

.site-nav {
    display: none;

    @media screen and(min-width:$tablet) {
        margin-left: 88px;
        display: flex;
    }

}

.site-nav .list:not(:last-child) {
    margin-right: 50px;
}

.site-nav .current:hover,
.site-nav .current:focus {
    color: var(--accent-color);
}

.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current {
    position: relative;
    color: var(--accent-color);

}

.site-nav .current::after {
    content: '';

    position: absolute;
    bottom: -1px;

    display: block;
    width: calc(100% + 6px);
    left: -3px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);

}

.auth-nav {
    display: none;
    margin-left: auto;


    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and(min-width:$tablet) {

        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    @media screen and(min-width:$desctop) {

        display: flex;
        flex-direction: row;
        margin-left: auto;

    }
}

.auth-nav .icons {
    margin-right: 10px;
}

.auth-nav .list:not(:first-child) {
    @media screen and(min-width:$tablet) {
        margin-left: 0;
        margin-top: 10px;
    }

    @media screen and(min-width:$desctop) {
        margin-left: 50px;
        margin-top: 0;
    }
}

.auth-nav .mail {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;

    @media screen and(min-width:$tablet) {
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: row;
    }
}

.auth-nav .mail .icons {
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .mail:hover svg,
.auth-nav .mail:focus svg {
    fill: var(--accent-color);

}

.auth-nav .mail:hover,
.auth-nav .mail:focus {
    color: var(--accent-color);

}


.auth-nav .tel {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;

    @media screen and(min-width:$tablet) {
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: row;
    }
}

.auth-nav .tel .icons {
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .tel:hover svg,
.auth-nav .tel:focus svg {
    fill: var(--accent-color);
}

.auth-nav .tel:hover,
.auth-nav .tel:focus {
    color: var(--accent-color);
}